.title {
    text-align: center;
    margin: 2rem 0;
  }
  
  .form-input {
    display: flex;
    justify-content: center;
  }
  
  .form-input input {
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0 0.5rem;
    height: 40px;
  }
  
  .form-input button {
    height: 40px;
    margin-left: 1%;
    background-color:#FFA67B ;
    font-weight: bold;
    color: white;
    border: 1px solid #FFA67B;
    border-radius: 10px;
    width: 15%;
  }
  
  .list-items {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
  
  table {
    width: 60%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 1.1rem;
  }
  
  table thead {
    background-color:#FFA67B ;
    color: white;
  }
  
  table thead th {
    font-weight: bolder;
  }
  table tbody tr:nth-child(odd) {
    background-color:#FFA67B ;
  }